* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

body {
  width: 85%;
  margin: auto;
  text-align: center;
  background-image: url("https://cdn.vox-cdn.com/thumbor/0Iy71CVDcDGOgsBdn-2O6tYzAgI=/0x0:2040x1360/1200x800/filters:focal(857x517:1183x843)/cdn.vox-cdn.com/uploads/chorus_image/image/64024322/acastro_181016_1777_music_0001.0.jpg");
  background-size: cover;
  height: 100vh;
}
body h1 {
  color: #c0dcaf;
  padding: 15px;
  font-weight: bolder;
}

fieldset {
  background-color: #c0dcaf;
  height: 200px;
  display: flex;
  padding: 30px;
  border: 2px solid #21421e;
  border-radius: 7px;
}
label {
  font-size: 22px;
  font-weight: bold;
  color: #21421e;
}

form {
  text-align: center;
  padding: 15px;
}

input {
  text-align: center;
  width: 150px;
  margin: auto;
  height: 28px;
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
button {
  margin: auto;
  width: 60px;
  height: 30px;
  color: #c0dcaf;
  background-color: #21421e;
  border: 2px solid #c0dcaf;
  border-radius: 5px;
  font-family: tahoma;
  margin-top: 5px;
}
h4 {
  color: #c0dcaf;
  line-height: 1.6rem;
  text-align: justify;
  margin: auto;
  padding: 15px;
  font-family: serif;
}
